In [2]:
my_dict = {"apple": 2, "banana": 3, "cherry": 5}
print("Original Dictionary to explain delete function:", my_dict)

Original Dictionary to explain delete function: {'apple': 2, 'banana': 3, 'cherry': 5}

In [3]:
# Deleting an item
del my_dict["banana"]

In [4]:
my_dict

{'apple': 2, 'cherry': 5}

Create a Python program that demonstrates the creation of a simple dictionary representing information about your favorite book, movie, or hobby. The dictionary should contain at least three key-value pairs, such as "title", "author/director", and "genre" for a book or movie, or "name", "age", and "hobby" for a personal interest.

In [5]:
# getting key from for loop 

# Original dictionary
my_dict = {"apple": 2, "banana": 3, "cherry": 5}

# Loop to iterate over keys and values
for key in my_dict:
    print(key)
#     print("Value:", my_dict[key])
#     print()  # Empty line for readability

apple
banana
cherry

In [7]:
my_dict["apple"]

2

In [9]:
for i in my_dict:
    print("key",i)
    print("value",my_dict[i])

key apple
value 2
key banana
value 3
key cherry
value 5

In [10]:
my_dict.items()

dict_items([('apple', 2), ('banana', 3), ('cherry', 5)])

In [11]:
for key, value in my_dict.items():
    print(key)
    print(value)

apple
2
banana
3
cherry
5

# TUPLE:
  
   - A tuple is a collection of items that are ordered and immutable, meaning once the tuple is created, you cannot change its elements.
   - Tuples are denoted by parentheses `( )`.
   - Elements in a tuple are accessed by their index, similar to lists.
   - Example: `my_tuple = (1, 2, 3, 4, 5)`

# Creating a Tuple:

In [12]:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)  # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

# Accessing Elements:

In [13]:
# Accessing elements of a tuple
my_tuple = (1, 2, 3, 4, 5)
   # INDEXING       (0,1,2,.....)  it does have neg
print(my_tuple[0])  # Output: 1
print(my_tuple[-3])  # Output: 4

1
3

# Tuple Packing and Unpacking:

In [14]:
# Tuple packing and unpacking
my_tuple = 1, 2, 3  # Packing
print(my_tuple)    # Output: (1, 2, 3)

(1, 2, 3)

In [17]:
my = "hello","my","error","python"
print(my)
type(my)

('hello', 'my', 'error', 'python')

tuple

In [18]:
x, y, z = my_tuple  # Unpacking
print(x, y, z)      # Output: 1 2 3

1 2 3

# Concatenating Tuples:

In [21]:
# Concatenating tuples
tuple1 = (4, 2, 3)
tuple2 = (4, 5, 5)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(4, 2, 3, 4, 5, 5)

# Repeat tuple:

In [22]:
# Concatenating tuples
tuple1 = (4, 2, 3)
repeat = tuple1*4
repeat

(4, 2, 3, 4, 2, 3, 4, 2, 3, 4, 2, 3)

In [23]:
print(6 in tuple1)

False

In [24]:
tuple1

(4, 2, 3)

In [27]:
a,b = tuple1

ValueError: too many values to unpack (expected 2)

In [26]:
a

4

task:print tuple using for loop

# Introduction to pandas

In [28]:
import pandas as pd 
#import pandas